/*<meta />*/

body
{
	font-family: Arial;
	background-color: #ffffff;
}

h1
{
	font-family: Arial;
	border-bottom: solid 1px;
	font: Arial;
	page-break-after: always;
	font-weight: bold;
	font-style: normal;
	font-size: 12pt;
	color: #000000;
	background-color: #dedfe1;
	border-bottom-style: none;
	border-bottom-width: 0px;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

h2.NewClass
{
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	border-bottom: solid 1px;
	color: #191970;
	font-size: 10pt;
	background-color: #ffffff;
	border-bottom-style: solid;
	border-bottom-width: 0px;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

h2.NewClass1
{
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	color: #191970;
	border-bottom: solid 1px;
	border-bottom-color: #191970;
	padding: 2px;
	background-color: #ffffff;
	font-size: 10pt;
}

h3
{
	font-weight: bold;
	font-size: 14pt;
}

li.mc-H3
{
	font-weight: bold;
	font-size: 14pt;
}

li.mc-H3
{
	font-weight: bold;
	font-size: 14pt;
}

h4
{
	font-weight: bold;
	font-size: 12pt;
}

li.mc-H4
{
	font-weight: bold;
	font-size: 12pt;
}

li.mc-H4
{
	font-weight: bold;
	font-size: 12pt;
}

h5
{
	font-weight: bold;
	font-size: 10pt;
}

li.mc-H5
{
	font-weight: bold;
	font-size: 10pt;
}

li.mc-H5
{
	font-weight: bold;
	font-size: 10pt;
}

h6
{
	font-weight: bold;
	font-size: 8pt;
}

li.mc-H6
{
	font-weight: bold;
	font-size: 8pt;
}

li.mc-H6
{
	font-weight: bold;
	font-size: 8pt;
}

p
{
	margin-top: 4.5pt;
	font-size: 10pt;
	margin-bottom: 4.5pt;
	font-family: Arial;
}

li
{
	font-size: 10pt;
}

li
{
	font-size: 10pt;
}

a.expandspot
{
	cursor: hand;
	color: #008000;
	font-style: italic;
	text-decoration: none;
}

span.expandtext
{
	font-weight: normal;
	color: #ff0000;
	font-style: italic;
}

a.dropspot
{
	cursor: hand;
	color: #008000;
	font-style: italic;
	text-decoration: none;
}

a.glossterm
{
	cursor: hand;
	color: #800000;
	font-style: italic;
	text-decoration: none;
}

span.glosstext
{
	font-weight: normal;
	color: #0000ff;
	font-style: italic;
}

ol
{
	margin-top: 0px;
	margin-bottom: 0px;
}

ul
{
	margin-top: 0px;
	margin-bottom: 0px;
}

p.topic-title
{
	font-weight: bold;
	font-size: 24pt;
	margin-bottom: 4.5pt;
	margin-left: 18pt;
	color: #0000ff;
	font-style: normal;
	mc-next-class: standard;
	mc-next-tag: p;
}

li.topic-title
{
	font-weight: bold;
	font-size: 24pt;
	margin-bottom: 4.5pt;
	margin-left: 18pt;
	color: #0000ff;
	font-style: normal;
	mc-next-class: standard;
	mc-next-tag: p;
}

li.topic-title
{
	font-weight: bold;
	font-size: 24pt;
	margin-bottom: 4.5pt;
	margin-left: 18pt;
	color: #0000ff;
	font-style: normal;
	mc-next-class: standard;
	mc-next-tag: p;
}

p.standard
{
	font-size: 10pt;
}

li.standard
{
	font-size: 10pt;
}

li.standard
{
	font-size: 10pt;
}

p.standard-einr
{
	font-size: 10pt;
	margin-left: 18pt;
	text-indent: -0.25in;
}

li.standard-einr
{
	font-size: 10pt;
	margin-left: 18pt;
	text-indent: -0.25in;
}

li.standard-einr
{
	font-size: 10pt;
	margin-left: 18pt;
	text-indent: -0.25in;
}

p.num
{
	text-indent: -0in;
	margin-left: 0in;
}

li.num
{
	text-indent: -0in;
	margin-left: 0in;
}

li.num
{
	list-style-type: decimal;
	text-indent: -0in;
	margin-left: 0in;
}

p.numbers
{
	list-style-type: decimal;
	margin-left: 0in;
}

li.numbers
{
	list-style-type: decimal;
	margin-left: 0in;
}

li.numbers
{
	text-indent: -0.5in;
	list-style-type: decimal;
	margin-left: 0in;
}

p.So
{
	font-weight: bold;
	font-style: normal;
	text-decoration: underline underline;
	mc-next-class: num;
	mc-next-tag: p;
}

li.So
{
	font-weight: bold;
	font-style: normal;
	text-decoration: underline underline;
	mc-next-class: num;
	mc-next-tag: p;
}

li.So
{
	font-weight: bold;
	font-style: normal;
	text-decoration: underline underline;
	mc-next-class: num;
	mc-next-tag: p;
}

p.punkt
{
	list-style-type: disc;
}

li.punkt
{
	list-style-type: disc;
}

li.punkt
{
	list-style-type: disc;
}

p.Siemens
{
	margin-top: 0pt;
	margin-bottom: 0pt;
	background-color: #dbdbdb;
	font-size: 8pt;
}

li.Siemens
{
	margin-top: 0pt;
	margin-bottom: 0pt;
	background-color: #dbdbdb;
	font-size: 8pt;
	mc-disabled: true;
}

li.Siemens
{
	margin-top: 0pt;
	margin-bottom: 0pt;
	background-color: #dbdbdb;
	font-size: 8pt;
}

p.Tabellentext
{
	
}

li.Tabellentext
{
	
}

p.Button
{
	font-weight: bold;
	font-style: normal;
	color: #7f0000;
	margin-top: 3pt;
	margin-bottom: 0pt;
	mc-next-class: ButtonText;
	mc-next-tag: p;
}

li.Button
{
	font-weight: bold;
	font-style: normal;
	color: #7f0000;
	margin-top: 3pt;
	margin-bottom: 0pt;
	mc-next-class: ButtonText;
	mc-next-tag: p;
}

p.ButtonText
{
	margin-left: 18pt;
	margin-top: 0pt;
}

li.ButtonText
{
	margin-left: 18pt;
	margin-top: 0pt;
}

p.number
{
	list-style: decimal;
}

li.number
{
	list-style: decimal;
}

p.see
{
	font-weight: bold;
	font-style: normal;
	mc-next-tag: p;
}

li.see
{
	font-weight: bold;
	font-style: normal;
	mc-next-tag: p;
}

p.strich
{
	list-style: circle;
	margin-top: 0pt;
	text-indent: -0.25in;
	margin-left: 0.5in;
	mc-next-class: strich;
	mc-next-tag: p;
}

li.strich
{
	list-style: circle;
	margin-top: 0pt;
	text-indent: -0.25in;
	margin-left: 0.5in;
	mc-next-class: strich;
	mc-next-tag: p;
}

p.ButtonUeb
{
	mc-next-class: Button;
	mc-next-tag: p;
}

li.ButtonUeb
{
	mc-next-class: Button;
	mc-next-tag: p;
}

p.Button2
{
	font-weight: bold;
	font-style: normal;
	color: #7f0000;
	margin-left: 9pt;
	mc-next-class: ButtonText;
	mc-next-tag: p;
}

li.Button2
{
	font-weight: bold;
	font-style: normal;
	color: #7f0000;
	margin-left: 9pt;
	mc-next-class: ButtonText;
	mc-next-tag: p;
}

p.ButtonEin
{
	
}

li.ButtonEin
{
	
}

p.Error
{
	font-size: 18pt;
	font-weight: bold;
	font-style: normal;
	color: #ff0000;
	background-color: #f7ea00;
	margin-top: 0pt;
	margin-bottom: 0pt;
}

li.Error
{
	font-size: 18pt;
	font-weight: bold;
	font-style: normal;
	color: #ff0000;
	background-color: #f7ea00;
	margin-top: 0pt;
	margin-bottom: 0pt;
}

p.standard-indent-neg
{
	text-indent: -0in;
	margin-left: 0pt;
}

li.standard-indent-neg
{
	text-indent: -0in;
	margin-left: 0pt;
}

MadCap|expandingHead.expandspot
{
	cursor: hand;
	color: #008000;
	font-style: italic;
	text-decoration: none;
}

MadCap|dropDownHotspot.dropspot
{
	cursor: hand;
	color: #008000;
	font-style: italic;
	text-decoration: none;
}

MadCap|expandingBody.expandtext
{
	font-weight: normal;
	color: #ff0000;
	font-style: italic;
}

MadCap|glossaryTerm.glossterm
{
	cursor: hand;
	color: #800000;
	font-style: italic;
	text-decoration: none;
}

MadCap|expandingBody.glossterm
{
	font-weight: normal;
	color: #0000ff;
	font-style: italic;
}

td
{
	
}

table.Tabellen_teilen_innen
{
	border-spacing: 4px 4px;
	margin-left: 4;
	margin-right: 4;
}

@media non-print
{
	h2
	{
		color: #000000;
		background-color: #dedfe1;
	}

	p.Error
	{
		background-color: #dedfe1;
	}

	li.Error
	{
		font-size: 12pt;
		background-color: #dedfe1;
	}

	h1
	{
		color: #000000;
		font-family: Arial;
		border-left-style: solid;
		border-left-width: 0px;
		border-right-style: solid;
		border-right-width: 0px;
		border-top-style: solid;
		border-top-width: 0px;
		border-bottom-style: none;
		border-bottom-width: 0px;
		border-bottom-color: #191970;
		background-color: dedfe1;
	}

	p.TOC2
	{
		
	}

	h6.PopupHeading
	{
		font-size: 11pt;
		font-family: Arial;
		color: #000000;
	}
}

li.ButtonEin1
{
	font-family: Arial;
	font-size: 10pt;
	font-style: normal;
	text-align: left;
	mc-auto-number-format: '{n+}.  ';
	display: block;
	padding-left: 20px;
	padding-right: 0px;
	padding-bottom: 3px;
	padding-top: 3px;
	mc-auto-number-position: inside-head;
	mc-auto-number-offset: 0;
	text-indent: -18px;
	margin-left: 0;
	margin-bottom: 1px;
	line-height: 18px;
	margin-top: 3px;
}

li.standard1
{
	font-family: Arial;
	font-size: 10pt;
	font-style: normal;
	text-align: left;
	mc-auto-number-format: '{n+}.  ';
	display: block;
	padding-left: 20px;
	padding-right: 0px;
	padding-bottom: 3px;
	padding-top: 3px;
	mc-auto-number-position: inside-head;
	mc-auto-number-offset: 0;
	text-indent: -18px;
	margin-left: 0;
	margin-bottom: 1px;
	line-height: 18px;
	margin-top: 3px;
}

li.Standard_Aufz21
{
	font-family: Arial;
	font-size: 10pt;
	font-style: normal;
	text-align: left;
	mc-auto-number-format: '{n+}.  ';
	display: block;
	padding-left: 20px;
	padding-right: 0px;
	padding-bottom: 3px;
	padding-top: 3px;
	mc-auto-number-position: inside-head;
	mc-auto-number-offset: 0;
	text-indent: -18px;
	margin-left: 0;
	margin-bottom: 1px;
	line-height: 18px;
	margin-top: 3px;
}

li.Standard_Aufz211
{
	font-family: Arial;
	font-size: 10pt;
	font-style: normal;
	text-align: left;
	mc-auto-number-format: '{n+}.  ';
	display: block;
	padding-left: 20px;
	padding-right: 0px;
	padding-bottom: 3px;
	padding-top: 3px;
	mc-auto-number-position: inside-head;
	mc-auto-number-offset: 0;
	text-indent: -18px;
	margin-left: 0;
	margin-bottom: 1px;
	line-height: 18px;
	margin-top: 3px;
}

p#Aufz12
{
	list-style: decimal;
	margin-bottom: 0;
	text-align: left;
	mc-auto-number-format: '{n+}.  ';
	margin-top: 2.5pt;
}

table.Tabelle_in_der_Tabelle
{
	border-bottom-color: #ffffff;
	border-color: transparent;
	padding: 3px;
	width: auto;
}

h2
{
	color: #000000;
	background-color: #dedfe1;
}

p.Error
{
	background-color: #dedfe1;
}

li.Error
{
	font-size: 12pt;
	background-color: #dedfe1;
}

h1
{
	color: #000000;
	font-family: Arial;
	border-left-style: solid;
	border-left-width: 0px;
	border-right-style: solid;
	border-right-width: 0px;
	border-top-style: solid;
	border-top-width: 0px;
	border-bottom-style: none;
	border-bottom-width: 0px;
	border-bottom-color: #191970;
	background-color: dedfe1;
}

p.TOC2
{
	
}

h6.PopupHeading
{
	font-size: 11pt;
	font-family: Arial;
	color: #000000;
}

