/*<meta />*/

img
{
	border: none;
}

a.Popup
{
	
}

h2.Error
{
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	border-bottom: solid 0px;
	padding: 2px;
	font-size: 18px;
	background-color: #DEDFE1;
	color: #a22722;
	margin-bottom: 0;
	margin-top: 0;
}

p.Standard
{
	font-family: Arial;
	font-size: 10pt;
	font-style: normal;
	text-align: justify;
	padding: 0px;
	padding-top: 3px;
	padding-bottom: 3px;
}

p.Standard_padding_left
{
	font-family: Arial;
	font-size: 10pt;
	font-style: normal;
	text-align: justify;
	padding: 0px;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 20px;
}

p.Standard_number_indent
{
	font-family: Arial;
	font-size: 10pt;
	font-style: normal;
	text-align: justify;
	padding: 0px;
	padding-top: 3px;
	padding-bottom: 3px;
	mc-auto-number-format: '{n}{n+}';
	mc-auto-number-offset: 20px;
	mc-auto-number-position: inside-head;
}

p.Standard_table
{
	font-family: Arial;
	font-size: 10pt;
	font-style: normal;
	list-style-position: inherit;
	border-collapse: collapse;
	mc-table-style: url('SIRIOStylesheet.css');
	table-layout: auto;
	text-align: left;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 3px;
	padding-bottom: 3px;
	margin-top: 0;
	margin-bottom: 0;
}

p.Button_text
{
	font-family: Arial;
	font-size: 10pt;
	font-style: normal;
	padding: 0px;
	background-color: #dedfe1;
	border-left: solid 1px;
	border-color: #6b8e23;
	border-right-width: 1px;
	border-right: solid 1px;
	margin: 0;
	padding-bottom: 4px;
	padding-top: 4px;
	text-indent: 0px;
	vertical-align: 0px;
	left: 0px;
	padding-left: 20px;
}

p
{
	
}

p.Button2
{
	font-family: Arial;
	font-size: 10pt;
	font-style: normal;
	font-weight: bold;
	color: #800000;
	width: 1px;
	background-color: #f5f5f5;
	display: inherit;
	border: solid 1px;
	border-bottom-color: #696969;
	border-color: #696969;
	border-width: 1px;
	margin: 3px;
	padding: 5px;
}

p.Button
{
	font-family: Arial;
	font-size: 10pt;
	color: #800000;
	font-style: normal;
	font-weight: bold;
	margin: 3px;
	padding: 5px;
	border-color: #696969;
	border-width: 1px;
	width: auto;
	background-color: #f5f5f5;
	border: solid 1;
	border-collapse: inherit;
	display: inline;
}

p.Butt
{
	font: Arial;
	font-family: Arial;
	font-size: 10pt;
	font-style: normal;
	color: #800000;
	font-weight: bold;
	padding: 4px;
	margin: 0px;
	border-left-color: #6b8e23;
	border-right-color: #6b8e23;
	border-bottom-width: 0px;
	border-left: solid 1px;
	border-right: solid 1px;
	background-color: #dedfe1;
	padding-top: 4px;
	padding-bottom: 4px;
}

p.Group_Box_Top
{
	margin: 0;
	margin-top: 1px;
	border-top: solid 1px;
	border-top-color: #6b8e23;
	border-left-color: #6b8e23;
	border-right: solid 1px;
	border-right-color: #6b8e23;
	border-left: solid 1px;
	padding-left: 4px;
	padding-top: 4px;
	font: Arial;
	font-family: Arial;
	font-size: 11pt;
	color: #d3d3d3;
	font-weight: bold;
}

tr.Button
{
	
}

table.TableGroupBox
{
	width: 100%;
	border-spacing: 1px 1px;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #6b8e23;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #6b8e23;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #6b8e23;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #6b8e23;
	border-collapse: collapse;
	margin-left: 0;
	margin-right: auto;
	background-color: #f5f5f5;
	padding: 2px;
	table-layout: fixed;
	border: solid 1px;
	border-color: #6b8e23;
	border-left: solid;
}

p.Button_text_buttom
{
	font-family: Arial;
	font-size: 10pt;
	font-style: normal;
	text-align: justify;
	padding: 0px;
	background-color: #dedfe1;
	border-left: solid 1px;
	border-color: #6b8e23;
	border-right-width: 1px;
	border-right: solid 1px;
	margin: 0;
	padding-bottom: 4px;
	padding-top: 4px;
	border-bottom: solid 1px;
	text-indent: 0px;
	padding-left: 20px;
}

p.See
{
	font-weight: bold;
	font-family: Arial;
	font-size: 10pt;
}

p.Standard_table_header
{
	font-weight: bold;
	font: Arial;
	font-size: 10pt;
}

p.Standard_Hinweis
{
	font-weight: bold;
	font-family: Arial;
	font-size: 10pt;
}

p.ButtRadio
{
	font: Arial;
	font-family: Arial;
	font-size: 10pt;
	font-style: normal;
	color: #800000;
	font-weight: bold;
	padding: 4px;
	margin: 0px;
	border-left-color: #6b8e23;
	border-right-color: #6b8e23;
	border-bottom-width: 0px;
	border-left: solid 1px;
	border-right: solid 1px;
	background-color: #dedfe1;
	padding-top: 4px;
	padding-bottom: 4px;
}

p.Achtung
{
	color: #ff0000;
	font-weight: bold;
	font-family: Arial;
	font-size: 10pt;
	margin-top: 0;
	margin-bottom: 0;
}

p.Ursache
{
	margin-bottom: 1, 12px;
	font-family: Arial;
	font-size: 10pt;
	top: 2 px;
}

p.Ma\0000DFnahme
{
	font-family: Arial;
	font-size: 10pt;
	color: #2e8b57;
	margin-bottom: 6, 12px;
	font-weight: bold;
	padding-top: 0px;
	top: 0px;
	margin-top: 0 px;
}

p.Comment
{
	font-style: italic;
	font-size: 12pt;
	font-family: Arial;
}

p.Ma\0000DFnahme_Numm
{
	font-family: Arial;
	font-size: 10pt;
	color: #2e8b57;
	margin-bottom: 6, 12px;
	font-weight: bold;
	padding-top: 0px;
	top: 5px;
	margin-top: 0, 12px;
	border-left: 15;
}

p.MiniTOC1
{
	margin-left: 20pt;
}

html.SIRIOStylesheetMaster
{
	mc-master-page: url('../MasterPages/SIRIOMasterPage.flmsp');
}

html.SIRIOErrorsMasterPage
{
	mc-master-page: url('../MasterPages/SIRIOMasterPage.flmsp');
}

img.Group_Box_Top
{
	margin: 0;
	margin-top: 1px;
	border-top: solid 1px;
	border-top-color: #6b8e23;
	border-left-color: #6b8e23;
	border-right: solid 1px;
	border-right-color: #6b8e23;
	border-left: solid 1px;
	padding-left: 4px;
	padding-top: 4px;
	font: Arial;
	font-family: Arial;
	font-size: 11pt;
	font-weight: bold;
	border-color: #6b8e23;
	color: #a9a9a9;
}

p.Button1
{
	font-family: Arial;
	font-size: 10pt;
	font-style: normal;
	padding: 0px;
	border-right-width: 1px;
	margin: 0;
	padding-bottom: 4px;
	padding-top: 4px;
	text-indent: 0px;
	padding-left: 20px;
	text-align: left;
	border-bottom: none 0px;
	border-right: none 0px;
	border-left-width: 0px;
	border-left: none 0px;
	background-color: #dcdcdc;
	line-height: 20px;
}

p.Butt_ohneRahmen
{
	font: Arial;
	font-family: Arial;
	font-size: 10pt;
	font-style: normal;
	font-weight: bold;
	margin: 0px;
	border-right: none 0px;
	border-left: none 0px;
	background-color: #dcdcdc;
	border-left-style: none;
	border-left-width: 0px;
	border-right-style: none;
	border-right-width: 0px;
	border-top-style: none;
	border-bottom-style: none;
	border-bottom-width: 0px;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	color: #800000;
}

p.Button_ohneRahmen_text
{
	font-family: Arial;
	font-size: 10pt;
	font-style: normal;
	padding: 0px;
	border-right-width: 1px;
	margin: 0;
	padding-bottom: 4px;
	padding-top: 4px;
	text-indent: 0px;
	padding-left: 20px;
	text-align: left;
	border-bottom: none 0px;
	border-right: none 0px;
	border-left-width: 0px;
	border-left: none 0px;
	background-color: #dcdcdc;
	line-height: 20px;
}

p.Button_text_bottom
{
	font-family: Arial;
	font-size: 10pt;
	font-style: normal;
	padding: 0px;
	border-left: solid 1px;
	border-color: #6b8e23;
	border-right-width: 1px;
	margin: 0;
	padding-bottom: 4px;
	padding-top: 4px;
	text-indent: 0px;
	padding-left: 20px;
	text-align: left;
	background-color: #dcdcdc;
	border-bottom: solid 1px #6b8e23;
	border-right: solid 1px #6b8e23;
}

p.Standard_ohne_Abstand
{
	font-family: Arial;
	font-size: 10pt;
	font-style: normal;
	text-align: justify;
	padding: 0px;
	padding-top: 3px;
	padding-bottom: 3px;
	margin-top: 0;
	margin-bottom: 0;
}

b.button_Char
{
	font-weight: bold;
	font-style: normal;
	font-size: 10pt;
	color: #800000;
	font-family: Arial;
}

@media non-print
{
	h2.Error
	{
		background-color: #dedfe1;
		border-bottom-style: none;
		border-bottom-width: 0px;
		border-bottom-color: #191970;
		padding-left: 2px;
		padding-right: 2px;
		padding-top: 2px;
		padding-bottom: 2px;
		font-size: 12pt;
		margin-bottom: 3px;
	}

	h2
	{
		margin-bottom: 0;
		font-family: Arial;
		margin-top: 0;
		background-color: #dedfe1;
		font-weight: bold;
		font-style: normal;
		color: #a52a2a;
		font-size: 12pt;
	}

	p.Button
	{
		border-left-style: none;
		border-left-width: 0px;
		border-left-color: #696969;
		border-right-style: none;
		border-right-width: 0px;
		border-right-color: #696969;
		border-top-style: none;
		border-top-width: 0px;
		border-top-color: #696969;
		border-bottom-style: none;
		border-bottom-width: 0px;
		border-bottom-color: #696969;
		padding-left: 5px;
		padding-right: 5px;
		padding-top: 5px;
		padding-bottom: 5px;
		background-color: ffffffff;
	}

	h1
	{
		font-weight: normal;
		font-style: normal;
		font-size: 16pt;
		font-family: Arial;
	}

	h3
	{
		font-weight: bold;
		font-style: normal;
		font-size: 12pt;
		font-family: Arial;
	}

	p.Button_text_bottom
	{
		background-color: #dedfe1;
	}

	p.Butt_ohneRahmen
	{
		background-color: #dedfe1;
	}

	p.Button1
	{
		background-color: #dedfe1;
	}

	p.Button_text_buttom
	{
		background-color: #dedfe1;
	}

	p.Button2
	{
		background-color: #dedfe1;
	}

	p.ButtRadio
	{
		background-color: #dedfe1;
	}

	p.Butt
	{
		background-color: #dedfe1;
	}

	p.Button_text
	{
		background-color: #dedfe1;
	}

	p.Button_ohneRahmen_text
	{
		background-color: #dedfe1;
	}

	p.Ursache
	{
		margin-bottom: 0;
		line-height: 14px;
		margin-top: 4px;
	}

	p.Ma\0000DFnahme
	{
		padding-top: 0px;
		padding-bottom: 0px;
		line-height: 14px;
		margin-bottom: 6, 12px;
		margin-top: 2px;
	}

	p.Ma\0000DFnahme_Numm
	{
		margin: 0;
	}

	p.Ma\0000DFnahme_nummeriert
	{
		margin: 0;
		margin-bottom: 6;
	}
}

@media print
{
	h2.Error
	{
		background-color: #dedfe1;
		font-size: 12pt;
	}

	h2
	{
		font-family: Arial;
		font-size: 12pt;
		font-weight: bold;
		font-style: normal;
	}
}

p.Ma\0000DFnahme_nummeriert
{
	font-family: Arial;
	font-size: 10pt;
	color: #2e8b57;
	margin-bottom: 6, 12px;
	font-weight: bold;
	padding-top: 0px;
	top: 5px;
	margin-top: 0, 12px;
}

p.Ausgabefeld
{
	font: Arial;
	font-family: Arial;
	font-size: 10pt;
	font-style: normal;
	font-weight: bold;
	padding: 4px;
	margin: 0px;
	border-left-color: #6b8e23;
	border-right-color: #6b8e23;
	border-bottom-width: 0px;
	border-left: solid 1px;
	border-right: solid 1px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-color: #6b8e23;
	border-width: 1 px;
	border-left-width: 1;
	border-right-width: 1;
	background-color: #dedfe1;
}

p.Ma\0000DFnahme_nummeriert_neu
{
	font-family: Arial;
	font-size: 10pt;
	color: #2e8b57;
	margin-bottom: 6, 12px;
	font-weight: bold;
	padding-top: 0px;
	top: 5px;
	margin-top: 0, 12px;
}

img.GUIDirection_B2T
{
	background-color: none;
	display: inline;
}

img.GUIDirection_H
{
	background-color: none;
	display: none;
}

img.GUIDirection_L2R
{
	background-color: none;
	display: none;
}

img.GUIDirection_R2L
{
	background-color: none;
	display: none;
}

h2.Error
{
	background-color: #dedfe1;
	border-bottom-style: none;
	border-bottom-width: 0px;
	border-bottom-color: #191970;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-size: 12pt;
	margin-bottom: 3px;
}

h2
{
	margin-bottom: 0;
	font-family: Arial;
	margin-top: 0;
	background-color: #dedfe1;
	font-weight: bold;
	font-style: normal;
	color: #a52a2a;
	font-size: 12pt;
}

p.Button
{
	border-left-style: none;
	border-left-width: 0px;
	border-left-color: #696969;
	border-right-style: none;
	border-right-width: 0px;
	border-right-color: #696969;
	border-top-style: none;
	border-top-width: 0px;
	border-top-color: #696969;
	border-bottom-style: none;
	border-bottom-width: 0px;
	border-bottom-color: #696969;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: ffffffff;
}

h1
{
	font-weight: normal;
	font-style: normal;
	font-size: 16pt;
	font-family: Arial;
}

h3
{
	font-weight: bold;
	font-style: normal;
	font-size: 12pt;
	font-family: Arial;
}

p.Button_text_bottom
{
	background-color: #dedfe1;
}

p.Butt_ohneRahmen
{
	background-color: #dedfe1;
}

p.Button1
{
	background-color: #dedfe1;
}

p.Button_text_buttom
{
	background-color: #dedfe1;
}

p.Button2
{
	background-color: #dedfe1;
}

p.ButtRadio
{
	background-color: #dedfe1;
}

p.Butt
{
	background-color: #dedfe1;
}

p.Button_text
{
	background-color: #dedfe1;
}

p.Button_ohneRahmen_text
{
	background-color: #dedfe1;
}

p.Ursache
{
	margin-bottom: 0;
	line-height: 14px;
	margin-top: 4px;
}

p.Ma\0000DFnahme
{
	padding-top: 0px;
	padding-bottom: 0px;
	line-height: 14px;
	margin-bottom: 6, 12px;
	margin-top: 2px;
}

p.Ma\0000DFnahme_Numm
{
	margin: 0;
}

p.Ma\0000DFnahme_nummeriert
{
	margin: 0;
	margin-bottom: 6;
}

