/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: Innen Liste keine Rahmen;
	border-spacing-y: 1;
	border-spacing-x: 1;
	border-collapse: collapse;
	max-id: 1;
	border-left-style: none;
	border-right-style: none;
	border-top-style: none;
	border-bottom-style: none;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	cell-padding-left: 2px;
	cell-padding-right: 2px;
	cell-padding-top: 2px;
	cell-padding-bottom: 2px;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: none;
	separator-width: 0px;
	separator-color: #000000;
	name: Column1;
	id: 0;
	size: 3px;
	font-size: 12px;
	font-family: Arial;
	color: #000000;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: none;
	separator-width: 0px;
	separator-color: #000000;
	name: Body1;
	id: 1;
	cell-padding-top: 2px;
	cell-padding-bottom: 2px;
	cell-padding-left: 2px;
	cell-padding-right: 2px;
	cell-content-style-tag: p;
	text-align: left;
	vertical-align: top;
}


/* Cell Styles: */
 
.TableStyle-Innen_Liste_keine_Rahmen
{
	border-collapse: collapse;
	border-left-style: none;
	border-right-style: none;
	border-top-style: none;
	border-bottom-style: none;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	border-spacing: 1px 1px;
}

.TableStyle-Innen_Liste_keine_Rahmen-Column-Column1
{
	width: 3px;
}

.TableStyle-Innen_Liste_keine_Rahmen-HeadI-Column1-
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	font-family: Arial;
	font-size: 12px;
}

.TableStyle-Innen_Liste_keine_Rahmen-HeadI-Column1- p
{
	color: #000000;
	font-family: Arial;
	font-size: 12px;
}

.TableStyle-Innen_Liste_keine_Rahmen-HeadE-Column1-
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	font-family: Arial;
	font-size: 12px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-Innen_Liste_keine_Rahmen-HeadE-Column1- p
{
	color: #000000;
	font-family: Arial;
	font-size: 12px;
}

.TableStyle-Innen_Liste_keine_Rahmen-HeadF-Column1-
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	font-family: Arial;
	font-size: 12px;
}

.TableStyle-Innen_Liste_keine_Rahmen-HeadF-Column1- p
{
	color: #000000;
	font-family: Arial;
	font-size: 12px;
}

.TableStyle-Innen_Liste_keine_Rahmen-HeadH-Column1-
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	font-family: Arial;
	font-size: 12px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-Innen_Liste_keine_Rahmen-HeadH-Column1- p
{
	color: #000000;
	font-family: Arial;
	font-size: 12px;
}

.TableStyle-Innen_Liste_keine_Rahmen-HeadD-Column1-
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	font-family: Arial;
	font-size: 12px;
}

.TableStyle-Innen_Liste_keine_Rahmen-HeadD-Column1- p
{
	color: #000000;
	font-family: Arial;
	font-size: 12px;
}

.TableStyle-Innen_Liste_keine_Rahmen-HeadC-Column1-
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	font-family: Arial;
	font-size: 12px;
}

.TableStyle-Innen_Liste_keine_Rahmen-HeadC-Column1- p
{
	color: #000000;
	font-family: Arial;
	font-size: 12px;
}

.TableStyle-Innen_Liste_keine_Rahmen-HeadB-Column1-
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	font-family: Arial;
	font-size: 12px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-Innen_Liste_keine_Rahmen-HeadB-Column1- p
{
	color: #000000;
	font-family: Arial;
	font-size: 12px;
}

.TableStyle-Innen_Liste_keine_Rahmen-HeadA-Column1-
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	font-family: Arial;
	font-size: 12px;
}

.TableStyle-Innen_Liste_keine_Rahmen-HeadA-Column1- p
{
	color: #000000;
	font-family: Arial;
	font-size: 12px;
}

.TableStyle-Innen_Liste_keine_Rahmen-HeadG-Column1-
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	font-family: Arial;
	font-size: 12px;
}

.TableStyle-Innen_Liste_keine_Rahmen-HeadG-Column1- p
{
	color: #000000;
	font-family: Arial;
	font-size: 12px;
}

.TableStyle-Innen_Liste_keine_Rahmen-FootI-Column1-
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	font-family: Arial;
	font-size: 12px;
}

.TableStyle-Innen_Liste_keine_Rahmen-FootI-Column1- p
{
	color: #000000;
	font-family: Arial;
	font-size: 12px;
}

.TableStyle-Innen_Liste_keine_Rahmen-FootE-Column1-
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	font-family: Arial;
	font-size: 12px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-Innen_Liste_keine_Rahmen-FootE-Column1- p
{
	color: #000000;
	font-family: Arial;
	font-size: 12px;
}

.TableStyle-Innen_Liste_keine_Rahmen-FootF-Column1-
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	font-family: Arial;
	font-size: 12px;
}

.TableStyle-Innen_Liste_keine_Rahmen-FootF-Column1- p
{
	color: #000000;
	font-family: Arial;
	font-size: 12px;
}

.TableStyle-Innen_Liste_keine_Rahmen-FootH-Column1-
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	font-family: Arial;
	font-size: 12px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-Innen_Liste_keine_Rahmen-FootH-Column1- p
{
	color: #000000;
	font-family: Arial;
	font-size: 12px;
}

.TableStyle-Innen_Liste_keine_Rahmen-FootD-Column1-
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	font-family: Arial;
	font-size: 12px;
}

.TableStyle-Innen_Liste_keine_Rahmen-FootD-Column1- p
{
	color: #000000;
	font-family: Arial;
	font-size: 12px;
}

.TableStyle-Innen_Liste_keine_Rahmen-FootC-Column1-
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	font-family: Arial;
	font-size: 12px;
}

.TableStyle-Innen_Liste_keine_Rahmen-FootC-Column1- p
{
	color: #000000;
	font-family: Arial;
	font-size: 12px;
}

.TableStyle-Innen_Liste_keine_Rahmen-FootB-Column1-
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	font-family: Arial;
	font-size: 12px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-Innen_Liste_keine_Rahmen-FootB-Column1- p
{
	color: #000000;
	font-family: Arial;
	font-size: 12px;
}

.TableStyle-Innen_Liste_keine_Rahmen-FootA-Column1-
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	font-family: Arial;
	font-size: 12px;
}

.TableStyle-Innen_Liste_keine_Rahmen-FootA-Column1- p
{
	color: #000000;
	font-family: Arial;
	font-size: 12px;
}

.TableStyle-Innen_Liste_keine_Rahmen-FootG-Column1-
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	font-family: Arial;
	font-size: 12px;
}

.TableStyle-Innen_Liste_keine_Rahmen-FootG-Column1- p
{
	color: #000000;
	font-family: Arial;
	font-size: 12px;
}

.TableStyle-Innen_Liste_keine_Rahmen-Body-Body1
{
	
}

.TableStyle-Innen_Liste_keine_Rahmen-BodyI-Column1-Body1
{
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	font-family: Arial;
	font-size: 12px;
}

.TableStyle-Innen_Liste_keine_Rahmen-BodyI-Column1-Body1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 12px;
}

.TableStyle-Innen_Liste_keine_Rahmen-BodyE-Column1-Body1
{
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: none;
	color: #000000;
	font-family: Arial;
	font-size: 12px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-Innen_Liste_keine_Rahmen-BodyE-Column1-Body1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 12px;
}

.TableStyle-Innen_Liste_keine_Rahmen-BodyF-Column1-Body1
{
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: none;
	color: #000000;
	font-family: Arial;
	font-size: 12px;
}

.TableStyle-Innen_Liste_keine_Rahmen-BodyF-Column1-Body1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 12px;
}

.TableStyle-Innen_Liste_keine_Rahmen-BodyH-Column1-Body1
{
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	font-family: Arial;
	font-size: 12px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-Innen_Liste_keine_Rahmen-BodyH-Column1-Body1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 12px;
}

.TableStyle-Innen_Liste_keine_Rahmen-BodyD-Column1-Body1
{
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: none;
	color: #000000;
	font-family: Arial;
	font-size: 12px;
}

.TableStyle-Innen_Liste_keine_Rahmen-BodyD-Column1-Body1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 12px;
}

.TableStyle-Innen_Liste_keine_Rahmen-BodyC-Column1-Body1
{
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	font-family: Arial;
	font-size: 12px;
}

.TableStyle-Innen_Liste_keine_Rahmen-BodyC-Column1-Body1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 12px;
}

.TableStyle-Innen_Liste_keine_Rahmen-BodyB-Column1-Body1
{
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	font-family: Arial;
	font-size: 12px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-Innen_Liste_keine_Rahmen-BodyB-Column1-Body1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 12px;
}

.TableStyle-Innen_Liste_keine_Rahmen-BodyA-Column1-Body1
{
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	font-family: Arial;
	font-size: 12px;
}

.TableStyle-Innen_Liste_keine_Rahmen-BodyA-Column1-Body1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 12px;
}

.TableStyle-Innen_Liste_keine_Rahmen-BodyG-Column1-Body1
{
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000000;
	font-family: Arial;
	font-size: 12px;
}

.TableStyle-Innen_Liste_keine_Rahmen-BodyG-Column1-Body1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 12px;
}


