/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: mDesk;
	border-collapse: separate;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #6b8e23;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #6b8e23;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #6b8e23;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #6b8e23;
	cell-padding-left: 3px;
	cell-padding-right: 3px;
	cell-padding-top: 0px;
	cell-padding-bottom: 0px;
	border-spacing-y: 2;
	border-spacing-x: 0;
	font-size: 8pt;
	max-id: 2;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	margin-left: 1px;
	margin-right: 1px;
	margin-top: 1px;
	margin-bottom: 1px;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #d3d3d3;
	font-family: Arial;
	font-weight: normal;
	font-style: normal;
	font-size: 10pt;
	name: Spalte1;
	id: 0;
	text-align: left;
	vertical-align: top;
}

mcTableHeadStyle
{
	span: 1;
	id: 2;
	name: Kopfzeile1;
	font-size: 11px;
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #a9a9a9;
	vertical-align: top;
	text-align: left;
	cell-padding-left: 2px;
	cell-padding-right: 2px;
	cell-padding-top: 2px;
	cell-padding-bottom: 2px;
	cell-content-style-tag: p;
	cell-content-style-class: p;
}

mcTableBodyStyle
{
	span: 1;
	font-weight: normal;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #d3d3d3;
	font-family: Arial;
	color: #000000;
	font-style: normal;
	font-size: 10pt;
	background-color: #ffffff;
	name: Body1;
	id: 1;
	type: Automatic;
	text-align: left;
	vertical-align: top;
	cell-padding-left: 2px;
	cell-padding-right: 2px;
	cell-padding-top: 2px;
	cell-padding-bottom: 2px;
	cell-content-style-tag: p;
	cell-content-style-class: p;
}


/* Cell Styles: */
 
.TableStyle-mDesk
{
	border-collapse: separate;
	border-left-style: solid;
	border-left-color: #6b8e23;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #6b8e23;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #6b8e23;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #6b8e23;
	border-bottom-width: 1px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	margin-left: 1px;
	margin-right: 1px;
	margin-top: 1px;
	margin-bottom: 1px;
	border-spacing: 0px 2px;
}

.TableStyle-mDesk-Column-Spalte1
{
	
}

.TableStyle-mDesk-Head-Kopfzeile1
{
	
}

.TableStyle-mDesk-HeadI-Spalte1-Kopfzeile1
{
	font-family: Arial;
	font-size: 11px;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-mDesk-HeadI-Spalte1-Kopfzeile1 p
{
	font-family: Arial;
	font-size: 11px;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-mDesk-HeadE-Spalte1-Kopfzeile1
{
	border-right-width: 1px;
	border-right-color: #d3d3d3;
	border-right-style: solid;
	font-family: Arial;
	font-size: 11px;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #a9a9a9;
	border-bottom-style: solid;
}

.TableStyle-mDesk-HeadE-Spalte1-Kopfzeile1 p
{
	font-family: Arial;
	font-size: 11px;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-mDesk-HeadF-Spalte1-Kopfzeile1
{
	font-family: Arial;
	font-size: 11px;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #a9a9a9;
	border-bottom-style: solid;
}

.TableStyle-mDesk-HeadF-Spalte1-Kopfzeile1 p
{
	font-family: Arial;
	font-size: 11px;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-mDesk-HeadH-Spalte1-Kopfzeile1
{
	border-right-width: 1px;
	border-right-color: #d3d3d3;
	border-right-style: solid;
	font-family: Arial;
	font-size: 11px;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-mDesk-HeadH-Spalte1-Kopfzeile1 p
{
	font-family: Arial;
	font-size: 11px;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-mDesk-HeadD-Spalte1-Kopfzeile1
{
	font-family: Arial;
	font-size: 11px;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #a9a9a9;
	border-bottom-style: solid;
}

.TableStyle-mDesk-HeadD-Spalte1-Kopfzeile1 p
{
	font-family: Arial;
	font-size: 11px;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-mDesk-HeadC-Spalte1-Kopfzeile1
{
	font-family: Arial;
	font-size: 11px;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-mDesk-HeadC-Spalte1-Kopfzeile1 p
{
	font-family: Arial;
	font-size: 11px;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-mDesk-HeadB-Spalte1-Kopfzeile1
{
	border-right-width: 1px;
	border-right-color: #d3d3d3;
	border-right-style: solid;
	font-family: Arial;
	font-size: 11px;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-mDesk-HeadB-Spalte1-Kopfzeile1 p
{
	font-family: Arial;
	font-size: 11px;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-mDesk-HeadA-Spalte1-Kopfzeile1
{
	font-family: Arial;
	font-size: 11px;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-mDesk-HeadA-Spalte1-Kopfzeile1 p
{
	font-family: Arial;
	font-size: 11px;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-mDesk-HeadG-Spalte1-Kopfzeile1
{
	font-family: Arial;
	font-size: 11px;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-mDesk-HeadG-Spalte1-Kopfzeile1 p
{
	font-family: Arial;
	font-size: 11px;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-mDesk-FootI-Spalte1-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 0px;
	padding-bottom: 0px;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
	text-align: left;
	vertical-align: top;
}

.TableStyle-mDesk-FootI-Spalte1- p
{
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-mDesk-FootE-Spalte1-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 0px;
	padding-bottom: 0px;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #d3d3d3;
	border-right-style: solid;
}

.TableStyle-mDesk-FootE-Spalte1- p
{
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-mDesk-FootF-Spalte1-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 0px;
	padding-bottom: 0px;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
	text-align: left;
	vertical-align: top;
}

.TableStyle-mDesk-FootF-Spalte1- p
{
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-mDesk-FootH-Spalte1-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 0px;
	padding-bottom: 0px;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #d3d3d3;
	border-right-style: solid;
}

.TableStyle-mDesk-FootH-Spalte1- p
{
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-mDesk-FootD-Spalte1-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 0px;
	padding-bottom: 0px;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
	text-align: left;
	vertical-align: top;
}

.TableStyle-mDesk-FootD-Spalte1- p
{
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-mDesk-FootC-Spalte1-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 0px;
	padding-bottom: 0px;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
	text-align: left;
	vertical-align: top;
}

.TableStyle-mDesk-FootC-Spalte1- p
{
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-mDesk-FootB-Spalte1-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 0px;
	padding-bottom: 0px;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #d3d3d3;
	border-right-style: solid;
}

.TableStyle-mDesk-FootB-Spalte1- p
{
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-mDesk-FootA-Spalte1-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 0px;
	padding-bottom: 0px;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
	text-align: left;
	vertical-align: top;
}

.TableStyle-mDesk-FootA-Spalte1- p
{
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-mDesk-FootG-Spalte1-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 0px;
	padding-bottom: 0px;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
	text-align: left;
	vertical-align: top;
}

.TableStyle-mDesk-FootG-Spalte1- p
{
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-mDesk-Body-Body1
{
	
}

.TableStyle-mDesk-BodyI-Spalte1-Body1
{
	color: #000000;
	background-color: #ffffff;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
	text-align: left;
	vertical-align: top;
}

.TableStyle-mDesk-BodyI-Spalte1-Body1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-mDesk-BodyE-Spalte1-Body1
{
	color: #000000;
	background-color: #ffffff;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #d3d3d3;
	border-bottom-style: solid;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #d3d3d3;
	border-right-style: solid;
}

.TableStyle-mDesk-BodyE-Spalte1-Body1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-mDesk-BodyF-Spalte1-Body1
{
	color: #000000;
	background-color: #ffffff;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #d3d3d3;
	border-bottom-style: solid;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
	text-align: left;
	vertical-align: top;
}

.TableStyle-mDesk-BodyF-Spalte1-Body1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-mDesk-BodyH-Spalte1-Body1
{
	color: #000000;
	background-color: #ffffff;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #d3d3d3;
	border-right-style: solid;
}

.TableStyle-mDesk-BodyH-Spalte1-Body1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-mDesk-BodyD-Spalte1-Body1
{
	color: #000000;
	background-color: #ffffff;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #d3d3d3;
	border-bottom-style: solid;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
	text-align: left;
	vertical-align: top;
}

.TableStyle-mDesk-BodyD-Spalte1-Body1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-mDesk-BodyC-Spalte1-Body1
{
	color: #000000;
	background-color: #ffffff;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
	text-align: left;
	vertical-align: top;
}

.TableStyle-mDesk-BodyC-Spalte1-Body1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-mDesk-BodyB-Spalte1-Body1
{
	color: #000000;
	background-color: #ffffff;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #d3d3d3;
	border-right-style: solid;
}

.TableStyle-mDesk-BodyB-Spalte1-Body1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-mDesk-BodyA-Spalte1-Body1
{
	color: #000000;
	background-color: #ffffff;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
	text-align: left;
	vertical-align: top;
}

.TableStyle-mDesk-BodyA-Spalte1-Body1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-mDesk-BodyG-Spalte1-Body1
{
	color: #000000;
	background-color: #ffffff;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
	text-align: left;
	vertical-align: top;
}

.TableStyle-mDesk-BodyG-Spalte1-Body1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
}


