/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: Tabelle_ohne_Linien;
	border-spacing-y: 1;
	border-spacing-x: 1;
	border-collapse: collapse;
	max-id: 1;
	border-left-style: none;
	border-right-style: none;
	border-top-style: none;
	border-bottom-style: none;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	cell-padding-left: 4px;
	cell-padding-right: 2px;
	cell-padding-top: 2px;
	cell-padding-bottom: 2px;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 0px;
	separator-color: #ffffff;
	name: Column1;
	id: 0;
	size: 3px;
	font-size: 10px;
	font-family: Arial;
	font-weight: normal;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	cell-padding-left: 2px;
	cell-padding-right: 2px;
	cell-padding-top: 2px;
	cell-padding-bottom: 2px;
	cell-content-style-tag: p;
	cell-content-style-class: p;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 0px;
	separator-color: #ffffff;
	name: Body1;
	id: 1;
	cell-padding-top: 0px;
	cell-padding-bottom: 0px;
	cell-content-style-tag: p;
	cell-content-style-class: p;
	font-size: 10px;
	font-family: Arial;
}


/* Cell Styles: */
 
.TableStyle-Tabelle_ohne_Linien
{
	border-collapse: collapse;
	border-left-style: none;
	border-right-style: none;
	border-top-style: none;
	border-bottom-style: none;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	border-spacing: 1px 1px;
}

.TableStyle-Tabelle_ohne_Linien-Column-Column1
{
	width: 3px;
}

.TableStyle-Tabelle_ohne_Linien-HeadI-Column1-
{
	font-family: Arial;
	font-size: 10px;
	font-weight: normal;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Tabelle_ohne_Linien-HeadI-Column1- p
{
	font-family: Arial;
	font-size: 10px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Tabelle_ohne_Linien-HeadE-Column1-
{
	font-family: Arial;
	font-size: 10px;
	font-weight: normal;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 0px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-Tabelle_ohne_Linien-HeadE-Column1- p
{
	font-family: Arial;
	font-size: 10px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Tabelle_ohne_Linien-HeadF-Column1-
{
	font-family: Arial;
	font-size: 10px;
	font-weight: normal;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Tabelle_ohne_Linien-HeadF-Column1- p
{
	font-family: Arial;
	font-size: 10px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Tabelle_ohne_Linien-HeadH-Column1-
{
	font-family: Arial;
	font-size: 10px;
	font-weight: normal;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 0px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-Tabelle_ohne_Linien-HeadH-Column1- p
{
	font-family: Arial;
	font-size: 10px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Tabelle_ohne_Linien-HeadD-Column1-
{
	font-family: Arial;
	font-size: 10px;
	font-weight: normal;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Tabelle_ohne_Linien-HeadD-Column1- p
{
	font-family: Arial;
	font-size: 10px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Tabelle_ohne_Linien-HeadC-Column1-
{
	font-family: Arial;
	font-size: 10px;
	font-weight: normal;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Tabelle_ohne_Linien-HeadC-Column1- p
{
	font-family: Arial;
	font-size: 10px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Tabelle_ohne_Linien-HeadB-Column1-
{
	font-family: Arial;
	font-size: 10px;
	font-weight: normal;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 0px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-Tabelle_ohne_Linien-HeadB-Column1- p
{
	font-family: Arial;
	font-size: 10px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Tabelle_ohne_Linien-HeadA-Column1-
{
	font-family: Arial;
	font-size: 10px;
	font-weight: normal;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Tabelle_ohne_Linien-HeadA-Column1- p
{
	font-family: Arial;
	font-size: 10px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Tabelle_ohne_Linien-HeadG-Column1-
{
	font-family: Arial;
	font-size: 10px;
	font-weight: normal;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Tabelle_ohne_Linien-HeadG-Column1- p
{
	font-family: Arial;
	font-size: 10px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Tabelle_ohne_Linien-FootI-Column1-
{
	font-family: Arial;
	font-size: 10px;
	font-weight: normal;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Tabelle_ohne_Linien-FootI-Column1- p
{
	font-family: Arial;
	font-size: 10px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Tabelle_ohne_Linien-FootE-Column1-
{
	font-family: Arial;
	font-size: 10px;
	font-weight: normal;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 0px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-Tabelle_ohne_Linien-FootE-Column1- p
{
	font-family: Arial;
	font-size: 10px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Tabelle_ohne_Linien-FootF-Column1-
{
	font-family: Arial;
	font-size: 10px;
	font-weight: normal;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Tabelle_ohne_Linien-FootF-Column1- p
{
	font-family: Arial;
	font-size: 10px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Tabelle_ohne_Linien-FootH-Column1-
{
	font-family: Arial;
	font-size: 10px;
	font-weight: normal;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 0px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-Tabelle_ohne_Linien-FootH-Column1- p
{
	font-family: Arial;
	font-size: 10px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Tabelle_ohne_Linien-FootD-Column1-
{
	font-family: Arial;
	font-size: 10px;
	font-weight: normal;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Tabelle_ohne_Linien-FootD-Column1- p
{
	font-family: Arial;
	font-size: 10px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Tabelle_ohne_Linien-FootC-Column1-
{
	font-family: Arial;
	font-size: 10px;
	font-weight: normal;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Tabelle_ohne_Linien-FootC-Column1- p
{
	font-family: Arial;
	font-size: 10px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Tabelle_ohne_Linien-FootB-Column1-
{
	font-family: Arial;
	font-size: 10px;
	font-weight: normal;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 0px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-Tabelle_ohne_Linien-FootB-Column1- p
{
	font-family: Arial;
	font-size: 10px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Tabelle_ohne_Linien-FootA-Column1-
{
	font-family: Arial;
	font-size: 10px;
	font-weight: normal;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Tabelle_ohne_Linien-FootA-Column1- p
{
	font-family: Arial;
	font-size: 10px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Tabelle_ohne_Linien-FootG-Column1-
{
	font-family: Arial;
	font-size: 10px;
	font-weight: normal;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Tabelle_ohne_Linien-FootG-Column1- p
{
	font-family: Arial;
	font-size: 10px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Tabelle_ohne_Linien-Body-Body1
{
	
}

.TableStyle-Tabelle_ohne_Linien-BodyI-Column1-Body1
{
	font-family: Arial;
	font-size: 10px;
	font-weight: normal;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Tabelle_ohne_Linien-BodyI-Column1-Body1 p
{
	font-family: Arial;
	font-size: 10px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Tabelle_ohne_Linien-BodyE-Column1-Body1
{
	border-bottom-width: 0px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	font-family: Arial;
	font-size: 10px;
	font-weight: normal;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 0px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-Tabelle_ohne_Linien-BodyE-Column1-Body1 p
{
	font-family: Arial;
	font-size: 10px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Tabelle_ohne_Linien-BodyF-Column1-Body1
{
	border-bottom-width: 0px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	font-family: Arial;
	font-size: 10px;
	font-weight: normal;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Tabelle_ohne_Linien-BodyF-Column1-Body1 p
{
	font-family: Arial;
	font-size: 10px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Tabelle_ohne_Linien-BodyH-Column1-Body1
{
	font-family: Arial;
	font-size: 10px;
	font-weight: normal;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 0px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-Tabelle_ohne_Linien-BodyH-Column1-Body1 p
{
	font-family: Arial;
	font-size: 10px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Tabelle_ohne_Linien-BodyD-Column1-Body1
{
	border-bottom-width: 0px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	font-family: Arial;
	font-size: 10px;
	font-weight: normal;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Tabelle_ohne_Linien-BodyD-Column1-Body1 p
{
	font-family: Arial;
	font-size: 10px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Tabelle_ohne_Linien-BodyC-Column1-Body1
{
	font-family: Arial;
	font-size: 10px;
	font-weight: normal;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Tabelle_ohne_Linien-BodyC-Column1-Body1 p
{
	font-family: Arial;
	font-size: 10px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Tabelle_ohne_Linien-BodyB-Column1-Body1
{
	font-family: Arial;
	font-size: 10px;
	font-weight: normal;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 0px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-Tabelle_ohne_Linien-BodyB-Column1-Body1 p
{
	font-family: Arial;
	font-size: 10px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Tabelle_ohne_Linien-BodyA-Column1-Body1
{
	font-family: Arial;
	font-size: 10px;
	font-weight: normal;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Tabelle_ohne_Linien-BodyA-Column1-Body1 p
{
	font-family: Arial;
	font-size: 10px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Tabelle_ohne_Linien-BodyG-Column1-Body1
{
	font-family: Arial;
	font-size: 10px;
	font-weight: normal;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Tabelle_ohne_Linien-BodyG-Column1-Body1 p
{
	font-family: Arial;
	font-size: 10px;
	font-weight: normal;
	font-style: normal;
}


